<div class="master-container">
	<rv-popup ng-show="showPopup"></rv-popup>
	<div class="list-layout cntct-qustn-layout">
		<div ng-include ng-model="vModel" src="'app/templates/header.html'" class="header-container"></div>
		<div class="content-container">
			<div class="content-scroller">
				<ul>
					<li class="exec-list-row" ng-repeat="item in vModel.items">
						<a href="mailto:{{item.mail}}" class="list-text list-a-item" >{{item.title}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>