<div class="master-container">
	<div class="list-layout">
		<div ng-include ng-model="vModel" src="'app/templates/header.html'"
			class="header-container"></div>
		<div class="content-container">
			<div class="exec-content content-scroller">
				<div ng-repeat="item in vModel.items" exec-message-repeat-directive>
					
					<div class='Drildown' ng-href="#/{{item.nextPage}}">
						<img src="{{item.iconDataURL}}" class="list-icon" />
						<span>{{item.title}}</span>
					</div>
					<div class='inner'>
						<div class='toggleCheckChnage'>
							<span ng-if="item.type=='text'" ng-bind-html="vEvent.showItemContent(item.message)"></span> 
							<span ng-if="item.type!='audio'" ng-click="vEvent.openInAppBrowser(item.link)" >{{item.link}}</span> 
						</div>
					</div>
					<div class="bottom-bar"></div>
				</div>
			</div>
		</div>
	</div>
</div>