<div class="master-container">
    <div class="search-layout">
    	<div ng-include ng-model="vModel" src="'app/templates/header.html'" class="header-container"></div>
        <div class="content-container">
            <div class="content-scroller">
                <div id="" class="search-cntr">
                	<p class="search-cntr-p">What would you like to search?</p>
                  	<input type="text" class="search-txt" ng-model="vModel.searchText">
                  	<button class="btn blue search-btn" ng-click="vEvents.searchApp()">Search</button>
                </div>
                <ul class="search-list">
                    <li ng-repeat="item in vModel.items" class="list-item">
                        <a  ng-href="#/{{ item.url}}" class="block-anchor">{{item.excerpt}}</a>
                    </li>
                </ul>
			</div>
        </div>
    </div>
</div>