<div class="master-container">
	<div class="terms-layout">
		<div class="header-container">
			<h2>End user Agreement</h2>
		</div>
		<div class="content-container">
			<div class="content-scroller">
				<p>
					The Right Way mobile app allows Ford personnel and its business partners quick access to information needed to guide ethical decisions according to Company policy.   It does not collect or require you to provide any information. By clicking below, you acknowledge and consent to The Right Way mobile app Terms and Conditions can be viewed at <span ng-click="vEvents.showLongTC()" class="tc-link">here</span>. Data rates may apply.
				</p>
			</div>
			<div class="footer-container">
				<button  ng-click="vEvents.acceptTerms()" class="btn blue">
					I Agree
				</button>
			</div>
		</div>
	</div>
</div>