/* Header stylesheet*/
.ford_class{
    color: #fff;
    background: #2d5a87;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
.header_menu{
    float: right;
    border: 1px solid black;
    line-height: 26px;
    height: 20px;
    width: 20px;
    margin-right: 20px;
}