.slide-menu-container {
  
  .overlay {
    position: fixed;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    background: $overlayColor;
    opacity: 0.7;
  }
  
  .slide-menu {  
    background: $baseColor;
    position: fixed;
    top: 45px;
    right: 0;
    bottom: 0;
    width: 90%;
    color: $textColorLight;
    overflow: auto;
    
    .menu-item {
		margin-left: 10px;
		background-size: 23px 23px;
		background-repeat: no-repeat;
		background-position: center left;
      
      .item-image {
        float: left;
        margin: 0 10px;
        width:20%;
      }
      
      .item-text {
        font-size:14px;
        line-height: 32px;
		display: block;
		vertical-align: middle;
		border-bottom: 1px solid #324C69;
		margin: 0 10px 0 25px;
		color: #CBD0D9;
		padding: 6px;
      }
    }
  }
}
@media screen and (orientation:landscape) {
	.slide-menu-container .slide-menu {
		width: 50%;
	}
}