<div class="master-container">
    <div class="search-layout">
    	<div ng-include ng-model="vModel" src="'app/templates/header.html'" class="header-container"></div>
        <div class="content-container">
            <div class="content-scroller" zoomer>
                <div id="" class="search-cntr">
                    <form ng-submit = "vEvents.searchApp()">
                        <p class="search-cntr-p">{{staticLabels.whatToSearch}}</p>
                        <input type="text" class="search-txt" ng-model="vModel.searchText" placeholder="{{staticLabels.typeToSearch}}"/>
                        <button type="submit" class="btn blue search-btn">{{staticLabels.search}}</button>
                    </form>
                </div>
                <ul class="search-list">
                    <li ng-repeat="item in vModel.items" class="list-item">
                        <a  ng-href="#/{{ item.url}}" class="block-anchor" ng-bind-html="item.excerpt"></a>
                    </li>
                </ul>
			</div>
        </div>
    </div>
</div>