.master-container .common-example-detail .content-container .content-scroller {
    background:$textColorLight;
}

.content-questionset
{
	padding:0 0 0 8px;
	font-size: 14px;

	.question {
		font-weight: bold;
	}

	.ans li {
		padding: 10px;
		list-style-type: disc;
		list-style-position: inside;
	}
}

.ans
{
	color:#3a3a3b;
	padding-top:10px;
}

@media screen  and (min-width : 768px) and (max-width : 1024px){
	.ans{
	font-size: 20px;
	}
	.content-questionset .question{
	font-size: 22px;
	}
}