.header-container{
  width:100%;
  height:45px;
  background:$fordHeaderColor;
  position: fixed;
  top: 0px;
  left:0px;
  z-index:2;
  border-bottom: 1px solid #44709c;
     
      a.navigation-btn{
        background: url('images/menu_icon.png') no-repeat;
        height: 34px;
        width: 30px;
        float: right;
        margin:5px 5px 0 0;
        position:absolute;
        z-index:2;
        top:0;
        right:0;
        text-decoration: none;
        background-size: 28px;
        padding: 3px;
		  
		  span.menu-text{
			font-size: 10px;
			position: relative;
			top: 18px;
			left: 3px;
			color: white;
		  }
      }
      

      
     h2 {
        font-size: 17px;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		margin: 0 auto;
		margin-top: 12px;
		overflow: hidden;
		z-index: 1;
		margin-right: 48px;
		text-overflow: ellipsis;
      }

  
  
}

.footerDiv {
	width:100%;
	height:40px;
	position: fixed;
	bottom: 0px;
	text-align: center;
}
.footerDiv span {
	display: inline-block;
	height: 100%;
	padding-top: 12px;
	font-size: 14px;
	font-weight: bold;
}
.back-btn {
  background: url("images/back_btn.png") no-repeat center;
  height: 45px;
  width: 15px;
  float: left;
  padding-left: 10px;
  z-index: 2;
  background-size: 11px 21px;
  padding-right: 10px;
}
