.info-content	{
    margin: 0;
  	line-height: 1.6;
}
.master-container {
	width: 100%;
	height: 100%;
	font-size: 13px;
}

.master-layout {
	.footer-container button {
		width: 96%;
		margin-bottom: 5px;
	}
	.content-scroller {
		text-decoration: none;
		color: #656464;
		background: #FFFFFF;
		
		p {
			padding: 2%;
		  	margin: 0;
		  	font-size: 14px;
		}
	}
} 

















.btn {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 0;
	font-size: 16px;
	padding: 10px;
}
.btn.blue {
	background: #2E5B8A;
	color: #fff;
}
.list-block-icon {
	width: 61px;
}
.master-container .cntct-qustn-layout .content-container .content-scroller {
	bottom: 0;
}
.fields {
	border: 1px solid #DCDDDD;
	margin: 10px;
	display: block;
	border-radius: 5px;
	padding-right: 10px;
	
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url(images/downarrow.png) no-repeat right center;
		background-size: 14px 6px;
		border: 0;
		padding: 8px;
		color: #9C9C9D;
		width: 100%;
		border-radius: 5px;
	}
}
.list-right-arrow {
	display: inline-block;
	width: 12px;
	height: 75px;
	float: right;
	background: url("images/gift&favor-list/right_arrow.png");
	background-size: 8px 12px;
	background-repeat: no-repeat;
	background-position: center;
}