@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
	margin: 45% 5% 0 5%;
	border: 1px solid #BEB8B8;
	border-radius: 5px;
	background-color: white;
}
.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog-overlay {
  z-index:10;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
}

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close {
  font-family: 'Helvetica', Arial, sans-serif;
  cursor: pointer;
}

body.ngdialog-open {
  overflow: hidden;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #FFF;
  border-radius: 5px;
  color: #646464;
  font-family: 'Helvetica',sans-serif;
  font-size: 13px;
  margin: 0 auto;
  max-width: 90%;
  position: relative;
  width: 450px;
}
.ngdialog-message{
  padding: 1em 1em 0 1em;
  a{
  	text-decoration: initial;
  	color: inherit;
  }
  ul{
    margin-bottom:10px;
  }
}
.rv-popup-title {
  text-align: center;
  color: #4A78A9;
  margin-bottom: 10px;
}
.rv-popup-phone {
  background : url("images/report-violation/call_icon.png")no-repeat center left;
  background-size: 28px;
  padding: 4% 0 4% 10%;
  padding-left: 33px;
}
.rv-popup-email {
  background : url("images/report-violation/message_icon.png")no-repeat center left;
  background-size: 28px;
  padding: 4% 0 4% 10%;padding-left: 33px;
}
.rv-popup-hr{
	border: 0;
	border-top: 1px solid #ccc;
}
.rv-popup-close {
  text-align: center;
  padding: 8px 0 8px 0;
  border-top:1px solid #C2C2C2;
  color: #2B2C2C;
}
@media screen and (orientation:landscape) {
	.ngdialog {
		margin: 12% 20% 0 20%;
	}
}