.master-container .report-violn-layout .footer-container button {
	width: 96%;
  margin-bottom: 5px;
}
.master-container .report-violn-layout .content-scroller {
	text-decoration: none;
	color: #656464;
	background: #FFFFFF;
}
.master-container .report-violn-layout .content-scroller p {
	padding: 2%;
  margin: 0;
}

.report-question {
	padding: 10px;
}

.report-violn-layout p {
	color: #000;
	font-size: 14px;
}

.report-violation.content-scroller {
	font-size: 14px;
    bottom: 0px;
}


@media screen  and (min-width : 768px) and (max-width : 1024px){
.report-violation.content-scroller {
	font-size: 20px;
	}
	.report-violn-layout p {
	font-size: 20px;
	}
}