.search-layout .content-scroller {
	bottom: 0;
}
.search-cntr {
	background: #cde2f7;
	padding: 10px;
}
.search-txt {
	width: 100%;
	border: 0;
	padding: 10px 5px;
	margin: 5px 0;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 100;
	-webkit-user-modify: read-write-plaintext-only;
	box-sizing: border-box;
}
.search-btn {
	width: 100%;
}
.search-cntr-p {
	color: #444;
	font-size: 14px;
}
.iosFixedFix{
    position: absolute;
    width: 100%;
    height: 10000px; /* This value must always be higher than the body height. */
    top: 0px;
    left: 0px;
}
.search-list {
	font-size: 14px;

	.list-item {
		padding: 10px;
		border-bottom: 1px solid #D9DEE3;
	}

	.list-item .block-anchor {
        color: #181819;
	}

	.list-item:nth-child(odd) {
	    background: #fff;
	}

	.list-item:nth-child(even) {
	    background: #F4F4F6;
	}
}