.master-container .terms-layout .footer-container button {
	width: 96%;
  margin-bottom: 5px;
}
.master-container .terms-layout .content-scroller {
	text-decoration: none;
	color: #656464;
	background: #FFFFFF;
	font-size: 14px;
}
.master-container .terms-layout .content-scroller p {
	padding: 2%;
  margin: 0;
}
.terms-layout .header-container h2{
	margin-right: 0;
}
.tc-link{
  color:blue;
  text-decoration: underline;
}
